<p>Welcome, <%= @user.username unless @user.blank? %>!</p>

<h2>Enter your dive</h2>

<form action="/dives" method="post">

<% @dives.each do |d| %>
  <% if d[:user_id] == session[:id] %>
  <br>
    <a href="users/<%= d.keys[0] %>"><%= d.keys[0] %></a>: <a href="dives/<%= d[:id] %>/edit"><%= d.values[0] %></a>
  <% else %>
  <br>
    <a href="users/<%= d.keys[0] %>"><%= d.keys[0] %></a>: <%= d.values[0] %>
  <% end %>
<% end %>
<input type="submit" value="submit">
</form>
