<p>Welcome, <%= @user.username %>!</p>
<a href="/dives/new">Enter your dive</a>
<% @dives.each do |d| %>
  <% if d[:user_id] == session[:id] %>
  <br>
    <a href="users/<%= d.keys[0] %>"><%= d.keys[0] %></a>: <a href="dives/<%= d[:id] %>/edit"><%= d.values[0] %></a>
  <% else %>
  <br>
    <a href="users/<%= d.keys[0] %>"><%= d.keys[0] %></a>: <%= d.values[0] %>
  <% end %>
<% end %>
