<p>Dive number: <%= @dive.dive_number %>
<p>Date: <%= @dive.date %>
<p>Location: <%= @dive.location %>
<p>Visibility: <%= @dive.visibility %>
<p>Bottom Time to date: <%= @dive.bottom_time_to_date %>
<p>Bottom Time this dive: <%= @dive.bottom_time_this_dive %>
<p>Accumulated time: <%= @dive.accumulated_time %>
<p>PSI/BAR start: <%= @dive.dive_start %>
<p>PSI/BAR end: <%= @dive.dive_end %>
<p>Dive Comments: <%= @dive.dive_comments %>

<p><form action="/dives/<%= @dive %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Dive"></input>
</form></p>
<% if @dive %>
<!--erb :/dives/dive_sheet DISPLAY dive_sheet information for @dive-->
<!--%= @dive.content %-->
<% end %>
<p><form action="/dives/:id/edit" method="get">
  <input type="submit" value="Edit dive">
</form></p>
