<!--DISPLAY dive_sheet information for @dive-->
<table border="1">
  <tr><td>Dive number: <%= @dive.dive_number %></td>
    <td>Date: <%= @dive.date %></td>
    <td>Visibility: <%= @dive.visibility %></td></tr>
<tr><td>&nbsp;</td></tr>
    <tr><td>Location: <%= @dive.location %></td></tr>
    <tr><td>&nbsp;</td></tr>

    <tr><td>Total bottom time to date: <%= @dive.bottom_time_to_date %></td></tr>
    <tr><td>&nbsp;&nbsp;+&nbsp;&nbsp;Bottom time this dive: <%= @dive.bottom_time_this_dive %></td></tr>
    <tr><td><hr /></td></tr>
    <tr><td>&nbsp;&nbsp;=&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accumulated time: <%= @dive.accumulated_time %></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>PSI/BAR start: <%= @dive.dive_start %></td></tr>
    <tr><td>PSI/BAR end&nbsp;: <%= @dive.dive_end %></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td colspan="3"><label>Dive Comments: <%= @dive.dive_comments %></td></tr>
    <tr><td>&nbsp;</td></tr>
</table>

<p><form action="/dives/:id/delete" method="delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Dive"></input>
</form></p>
<% if @dive %>
<!--erb :/dives/dive_sheet DISPLAY dive_sheet information for @dive-->
<!--%= @dive.content %-->
<% end %>
<p><form action="/dives/:id/edit" method="get">
  <input type="submit" value="Edit dive">
</form></p>
